.container
    margin: 0 auto
    width: 500px
ul
    list-style: none
    padding: 0


.self-toggle
    display: inline-block
    padding: 20px
    border: solid 1px #333
    text-decoration: none

.self-toggle.self-active
    border: dashed 1px red


=active($prefix: red, $hex: #f00)
    .#{$prefix}-target.#{$prefix}-active
        border-color: $hex
        color: darken($hex, 20%)
        padding: 20px 10px
    .#{$prefix}-toggle.#{$prefix}-active
        font-weight: bold
    .#{$prefix}-target
        border: solid 5px #ccc
        padding: 10px
        +transition
        margin-bottom: 20px
    .#{$prefix}-active tt
        background-color: lighten($hex, 30%)
    .visible a.#{$prefix}-visible
        background-color: lighten($hex, 40%)
        text-decoration: none
        +disable(link)
        display: block
        text-align: right
        font-weight: bold
        font-size: 120%
        padding: 15px
        padding-bottom: 1000px

+active(red, #f00)
+active(blue, #00f)
+active(green, #0f0)
+active(orange, #FFA500)
+active(purple, #800080)
+active(brown, #A52A2A)
+active(olive, #808000)

tt
    background-color: #ccc
    display: inline-block
    padding: 2px 5px

.text:before
    content: "without"
    .red-active &, .blue-active &, .green-active &
        content: "with"

.visible
    .sidebar
        position: -webkit-sticky
        position: sticky
        top: 10px
        margin-right: 140px
        z-index: 1000
        div
            background-color: #FFF

.example
    padding-bottom: 20px
    &:not(:first-of-type)
        border-top: solid 1px #ccc

.tabs
    padding-top: 20px
    a
        border: solid 1px #ccc
        padding: 10px
        text-decoration: none
        &.tab-active
            font-weight: bold
            background-color: #eee

.content
    .tab-target-1, .tab-target-2, .tab-target-3
        &:not(.tab-active)
            display: none