ul {
	list-style: none;
	padding: 0;
}

.self-toggle {
    display: inline-block;
    padding: 20px;
    border: solid 1px #333;
    text-decoration: none;
}
.self-toggle.self-active {
    border: dashed 1px red;
}

.red-target.red-active {
    color: red;
}

// .red-toggle.red-active {
//     color: red;
// }

.blue-target.blue-active {
    color: blue;
}

// .blue-toggle.blue-active {
//     color: blue;
// }

.aaa-target.aaa-active {
    color: yellow;
}

// .aaa-toggle.aaa-active {
//     color: yellow;
// }
